<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dnaMe</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/maicons.css">
  <!-- * --> <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="vendor/animate/animate.css">
  <link rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.css">
</head>

<body>
  <div class="back-to-top"></div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-float">
      <div class="container">
        <a href="/" class="navbar-brand">dna<span class="text-primary">Me</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="services.html" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="blog.html" class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>

          <div class="ml-auto">
            <a href="#" id="loginButton" class="btn btn-outline rounded-pill">Log In</a>
            <a href="#" id="signupButton" class="btn btn-primary rounded-pill">Sign Up</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="page-banner home-banner">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 mb-n6 wow fadeInUp">
            <h1 class="mb-4 title-section">Personalized<br>Genetic Guidance</h1>
            <p class="text-lg mb-5">Harness the power of DNA to revolutionize your health.</p>
            <a href="#" class="btn btn-outline border text-secondary">Learn More</a>
            <a href="#" class="btn btn-primary btn-split ml-2">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
          </div>
          <div class="col-lg-6 mb-n6 wow zoomIn">
            <div class="img-place">
              <img src="img/bg_image_1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section features bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>Step 1. Sequence Your DNA</h5>
                <p>Sequence your genome with our at-home kit or upload your DNA data from any source, including 23andMe and Ancestry.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>Step 2. Get DNA-Based Guidance</h5>
                <p>Our reports offer personalized guidance on health, rare disease, medication reactions, nutrition, and more.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>Step 3. Receive Regular Updates</h5>
                <p>Genetic science evolves and our technology keeps you learning and benefiting from new DNA discoveries throughout your life.</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  
    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place text-center">
              <img src="img/bg_image_2.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 wow fadeInRight">
            <h2 class="title-section">Our <span class="marked">Vision</span></h2>
            <div class="divider"></div>
            <p>To pioneer a revolution in healthcare by making personalized genetic information accessible to all, fostering a world where everyone has the knowledge and tools to lead a healthy and fulfilling life.</p>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  
    <div class="page-section">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <div class="subhead">Why Choose Us</div>
          <h2 class="title-section">A <span class="marked">New</span> Approach to Health</h2>
          <div class="divider mx-auto"></div>
        </div>
        <div class="row mt-5 text-center">
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3"><span class="mai-business"></span></div>
            <h5>State-of-the-Art Technology</h5>
            <p>Employing the latest advancements in science and technology, we analyze your genetic information with clinical-grade precision and robustness.</p>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3"><span class="mai-people"></span></div>
            <h5>Clear, Personalized Guidance</h5>
            <p>Our DNA reports provide clear, personalized guidance and actionable insights on a wide range of topics, including health, wellness, and genealogy.</p>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3"><span class="mai-shield-checkmark"></span></div>
            <h5>Our Only Allegiance is to You</h5>
            <p>You own your data, we safeguard it. We keep your data secure and private for life, and you can revoke access at any time &mdash; no questions asked.</p>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  
    <div class="page-section bg-light">
      <div class="container">
        <div class="owl-carousel wow fadeInUp" id="testimonials">
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-6 py-3">
                <div class="testi-image">
                  <img src="img/person/person_1.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 py-3">
                <div class="testi-content">
                  <p>Choosing dnaMe for my DNA analysis was a game-changer. The detailed results not only traced my ancestry but also unveiled fascinating insights into my unique genetic traits. It's like uncovering the chapters of my own story through the language of DNA. Highly recommend!</p>
                  <div class="entry-footer">
                    <strong>Melvin Platje</strong> &mdash; <span class="text-grey">Member</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-6 py-3">
                <div class="testi-image">
                  <img src="img/person/meryl-streep.webp" alt="">
                </div>
              </div>
              <div class="col-md-6 py-3">
                <div class="testi-content">
                  <p>Thanks to dnaMe, I uncovered a potential cancer gene in my DNA. The detailed analysis and thoughtful insights have given me the knowledge to take proactive steps for my health. Grateful for the peace of mind and empowerment they've provided!</p>
                  <div class="entry-footer">
                    <strong>Meryl Streep</strong> &mdash; <span class="text-grey">Member</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  
    <div class="page-section border-top">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <div class="subhead">Our Blog</div>
          <h2 class="title-section">Latest <span class="marked">News</span></h2>
          <div class="divider mx-auto"></div>
        </div>
        <div class="row my-5 card-blog-row">
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="entry-footer">
                  <div class="post-author">Jeremy Lin</div>
                  <a href="#" class="post-date">20 Nov 2023</a>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a href="blog-single.html">What is DNA?</a></div>
              </div>
              <div class="footer">
                <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="avatar">
                  <img src="img/person/elle-woods.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="post-author">Elle Woods, JD</div>
                  <a href="#" class="post-date">1 Oct 2023</a>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a href="blog-single.html">Privacy in Genomics</a></div>
                <div class="post-excerpt">Privacy is the little black dress of genomics &mdash; always in style, always in demand.</div>
              </div>
              <div class="footer">
                <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="avatar">
                  <img src="img/person/person_3.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="post-author">Marge Simpson</div>
                  <a href="#" class="post-date">23 Sep 2023</a>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a href="blog-single.html">DNA Inheritance</a></div>
                <div class="post-excerpt">Ever wondered what makes the Simpson family so genetically hilarious?</div>
              </div>
              <div class="footer">
                <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="avatar">
                  <img src="img/person/sherlock-holmes.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="post-author">Sherlock Holmes</div>
                  <a href="#" class="post-date">15 Aug 2023</a>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a href="blog-single.html">DNA Deduction Chronicles</a></div>
                <div class="post-excerpt">In the world of DNA, the clues are hidden in the double helix.</div>
              </div>
              <div class="footer">
                <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="blog.html" class="btn btn-outline-primary rounded-pill">Discover More</a>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="container mt-5">
      <div class="page-banner" id="contact-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <div class="subhead">Questions?</div>
            <h2 class="title-section">Contact Us</h2>
            <div class="divider"></div>
            <form action="#">
              <div class="py-2">
                <input type="text" class="form-control" placeholder="Full name">
              </div>
              <div class="py-2">
                <input type="text" class="form-control" placeholder="Email address">
              </div>
              <div class="py-2">
                <textarea rows="6" class="form-control" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Send</button>
            </form>
          </div>
        </div>
      </div> <!-- .page-banner -->
    </div> <!-- .container -->
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-3 py-3">
          <h3>dna<span class="text-primary">Me</span></h3>
          <p><a href="#">support@dna.me</a></p>
          <div class="sosmed-button mt-4">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Report a Bug</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>About Us</h5>
          <ul class="footer-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Teams</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">News & Press</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Subscribe to our newsletter</h5>
          <form action="#">
            <input type="text" class="form-control" placeholder="Email address">
            <button type="submit" class="btn btn-outline rounded-pill mt-4">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 py-2">
          <p id="copyright">&copy; 2023 dnaMe</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
          <div class="d-inline-block px-3">
            <a href="#">Privacy</a>
          </div>
          <div class="d-inline-block px-3">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </footer> <!-- .page-footer -->

  <!-- Login modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%- include('login.ejs') %>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%- include('signup.ejs') %>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="vendor/wow/wow.min.js"></script>
  <script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="js/theme.js"></script>
  <!-- * --> <script src="js/index.js"></script>

</body>
</html>