<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dnaMe</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/maicons.css">
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="vendor/animate/animate.css">
  <link rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.css">
</head>

<body>
  <div class="back-to-top"></div>
  
  <%- include('../partials/header-user') %>

  <main>
    <div class="page-section" style="padding-bottom: 0; margin-bottom: -35px;">
      <div class="container">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-8 wow fadeInLeft text-center" style="margin-top: 5rem;">
            <h2 class="title-section">Hello, <%= user.firstName %></h2>
            <span class="text-lg">Before we move forward with your genetic analysis, it's critical that you understand the genetics of Alzheimer's disease and the implications for testing. Please read the following excerpt from the Alzheimer's Association in full:</span>
            <iframe src="alzheimers-association-reading.pdf" width="100%" height="500px" style="margin: 2rem 0;"></iframe>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section" style="padding-top: 0;">
      <div class="container">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-5 wow fadeInLeft text-center" style="margin-top: 5rem;">
            <span class="text-lg">Upload your raw data (.txt) for analysis here:</span>
            <form action="/analysis" method="POST" enctype="multipart/form-data" class="text-center mx-auto">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="file" accept=".txt">
                <label class="custom-file-label" for="file">Choose file</label>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Upload</button>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>

  <%- include('../partials/footer') %>

  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="vendor/wow/wow.min.js"></script>
  <script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="js/theme.js"></script>
  <!-- * --> <script src="js/home-user.js"></script>

</body>
</html>