<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-float">
    <div class="container">
      <a href="/" class="navbar-brand">dna<span class="text-primary">Me</span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
          <li class="nav-item active">
            <a href="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/counseling" class="nav-link">Genetic Counseling</a>
          </li>
        </ul>

        <div class="ml-auto dropdown">
          <div class="dropdown">
            <a class="dropdown-toggle btn btn-primary rounded-pill" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.firstName %>
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/profile/user">Profile</a>
              <a class="dropdown-item" href="/settings">Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>